.navbar {
    display: flex;
    justify-content: space-between;
    height: 10%;
    background-color: skyblue;
    padding: .5%;
    color: white;
    font-family: Montserrat;
}

.navbar a,
.navbar a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

img {
    height: 50px;
    align-self: center;
}

h1 {}

.navbar ul {
    align-self: center;
    width: 65%;
    display: flex;
    justify-content: space-around;
}

ul li {
    display: inline-block;
}

.center-box {
    display: flex;
    background-color: blue;
    justify-content: center;
    padding: 5%;
}

.center-item {
    background-color: beige;
    display: block;
    width: 150px;
    min-height: 150px;
}